SECRET_KEY=minha-chave-secreta-gigante-mude-depois-na-vps
DEBUG=False
DATABASE_URL=postgres://c2sistemas_user:c2sistemas_super_secret_pwd_change_me@db:5432/c2sistemas_db
ALLOWED_HOSTS=c2sistemas.com,187.77.250.71,localhost,web
CSRF_TRUSTED_ORIGINS=https://c2sistemas.com
