{% extends 'website/base.html' %}

{% block title %}Contato | C² Sistemas{% endblock %}

{% block content %}
  <div class='main-content-area'>
    <article class='post-card'>
       <h1 class='post-title'>Fale Conosco</h1>
       <div class='post-body'>
            <p>Estamos prontos para ouvir você. Utilize os canais abaixo para solicitar orçamentos, suporte técnico ou esclarecer dúvidas.</p>
            <br>
            <ul>
                <li><strong>WhatsApp:</strong> (75) 98314-5691</li>
                <li><strong>E-mail:</strong> contato@c2sistemas.com</li>
            </ul>
            <br>
            <a class='btn-cta' href='https://wa.me/75983145691?text=Ol%C3%A1%2C%20quero%20falar%20com%20a%20C%C2%B2%20Sistemas.' rel='noopener' target='_blank'>
                Abrir Atendimento no WhatsApp
            </a>
       </div>
    </article>
  </div>
{% endblock %}
