{% extends 'website/base.html' %}

{% block title %}Atualizações | C² Sistemas{% endblock %}

{% block content %}
  <div class='main-content-area'>
    <article class='post-card'>
       <h1 class='post-title'>Atualizações de Sistema (Patch Notes)</h1>
       <div class='post-body'>
            <p>Acompanhe as últimas melhorias, correções e novas funcionalidades implementadas em nossos sistemas.</p>
            <br>
            
            {% for note in notes %}
            <div class="version-block">
                <div class="version-header">
                    <div class="version-title">Versão {{ note.version }}</div>
                    <div class="version-date"><i class="far fa-calendar-alt"></i> {{ note.date|date:"d M Y" }}</div>
                </div>
                
                <div class="changelog-section">
                    <ul style="list-style-type: disc; margin-left: 20px;">
                        {% for feature in note.features_list %}
                            <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% empty %}
            <p>Nenhuma atualização cadastrada ainda.</p>
            {% endfor %}
       </div>
    </article>
  </div>
{% endblock %}
